<%- include('includes/head.ejs', {title: 'Perceptia Press' }) %>
<script src="/scripts/display-items-by-genre.js" defer></script>
<script src="/scripts/toggle-genre-button-display.js" defer></script>
</head>
<body>
  <%- include('includes/nav.ejs')  %>
  <main>
    <h2 class="bodytext">
      Welcome to Perceptia Press: Dedicated to providing the best learning
      materials for teachers and students. Take a minute to catch up on with our
      latest news below!
    </h2>

      
    <div class="accordion" id="accordionExample">
      <% for (newsItem of news) {%>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#<%= newsItem._id%>" aria-expanded="true" aria-controls="collapseOne">
              <% if (newsItem.imagePath) {%>
                <img class="newsTitleImage" src="<%=newsItem.imagePath%>" alt="<%= newsItem.title%>">
                <%}%>
                <%= newsItem.title%>
            </button>
          </h2>
          <div id="<%= newsItem._id%>" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <% if (newsItem.imagePath) {%>
                <img class="newsItemImage" src="<%=newsItem.imagePath%>" alt="<%= newsItem.title%>">
                <%}%>
              <%= newsItem.news%>
            </div>
          </div>
        </div>
      <%}%>
    </div>
    
        
    <h2 class="bodytext">
      Our catalogue continues to grow. We have books covering everything from
      nursing to engineering, and academic writing to baseball! Please take a look
      below and get in contact if you have any questions.
    </h2>
    
    <div class="btn-group btn-group-lg" id="genre-choice" role="group" aria-label="button group">
      <input type="radio" class="btn-check" name="genre" id="all" value="All" autocomplete="off" checked>
      <label class="btn btn-outline-secondary" for="all">All</label>

      <input type="radio" class="btn-check" name="genre" id="reading" value="Reading" autocomplete="off">
      <label class="btn btn-outline-secondary" for="reading">Reading</label>

      <input type="radio" class="btn-check" name="genre" id="speaking" value="Speaking" autocomplete="off">
      <label class="btn btn-outline-secondary" for="speaking">Speaking</label>
      
      <input type="radio" class="btn-check" name="genre" id="writing" value="Writing" autocomplete="off">
      <label class="btn btn-outline-secondary" for="writing">Writing</label>
      
      <input type="radio" class="btn-check" name="genre" id="listening" value="Listening" autocomplete="off">
      <label class="btn btn-outline-secondary" for="listening">Listening</label>
      
      <input type="radio" class="btn-check" name="genre" id="culture" value="Culture" autocomplete="off">
      <label class="btn btn-outline-secondary" for="culture">Culture</label>
      
      <input type="radio" class="btn-check" name="genre" id="other" value="Other" autocomplete="off">
      <label class="btn btn-outline-secondary" for="other">Other</label>
    </div>
    
    </div>
          
    <ol id="items-list">
      <% for(const item of items) {%>
        
        <li class="listitem <%= item.genre%>">
          <%- include('includes/item.ejs', {item:item})%>
        </li>
        
      <% } %>    
    </ol>

  </main>
  <%- include('includes/footer.ejs')%>
</body>